<ion-view view-title="Helpdesk">
  <ion-content>
      <div class="list">
        <!-- Swami's number -->
          <a class="item item-icon-left item-icon-right" ng-href="tel:+919632598325">
              <i class="icon ion-chatbubble-working"></i>
              Call HelpDesk
              <i class="icon ion-ios7-telephone-outline"></i>
          </a>
          <!-- Patro's number -->
          <a class="item item-icon-left item-icon-right" ng-href="tel:+919916226148">
              <i class="icon ion-chatbubble-working"></i>
              Call RJU Reception
              <i class="icon ion-ios7-telephone-outline"></i>
          </a>

          <a class="item item-icon-left item-icon-right" ng-href="tel:+919379091240">
              <i class="icon ion-chatbubble-working"></i>
              Call GWS Reception
              <i class="icon ion-ios7-telephone-outline"></i>
          </a>
      </div>
  </ion-content>
</ion-view>
