<ion-view view-title="Helpdesk">
  <ion-content>
      <div class="list">
          <a class="item item-icon-left item-icon-right"  href="" ng-click="callnumber('180023232323')">
              <i class="icon ion-chatbubble-working"></i>
              Call HelpDesk
              <i class="icon ion-ios7-telephone-outline"></i>
          </a>
          <a class="item item-icon-left item-icon-right"  href="" ng-click="callnumber('180023232323')">
              <i class="icon ion-chatbubble-working"></i>
              Call RJU Reception
              <i class="icon ion-ios7-telephone-outline"></i>
          </a>
          <a class="item item-icon-left item-icon-right"  href="" ng-click="callnumber('919379091240')">
              <i class="icon ion-chatbubble-working"></i>
              Call GWS Reception 
              <i class="icon ion-ios7-telephone-outline"></i>
          </a>
      </div>
  </ion-content>
</ion-view>
