<ion-view view-title="Timezone">
  <ion-content>
      <div class="list">
          
          <div class="item item-divider">
              Minneapollis
          </div>
          
          <a class="item" href="#">
              Jan-22-2015
          </a>
          <a class="item" href="#">
              Thursday
          </a>
          <a class="item" href="#">
              10:45 AM
          </a>
          <div class="item item-divider">
              Bangalore
          </div>
          
          <a class="item" href="#">
              Jan-22-2015
          </a>
          <a class="item" href="#">
              Friday
          </a>
          <a class="item" href="#">
              10:45 PM
          </a>
      </div>
      </ion-content>
</ion-view>